<main>

<form action="/signup" method="POST">
  <div class="jumbotron">
  <h2>Create an account</h2>

  {{#if messages}}
    {{#each messages}}
    <div class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>{{ this }}
    </div>
    {{/each}}
  {{/if}}

  <label for="input-fullName">Full name:</label>
  <input type="text" id="input-fullName" name="fullName" placeholder="Your Name" >

  <label for="input-email">Email:</label>
  <input type="email" id="input-email" name="email" placeholder="Your email" >

  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="********" />
  
  <button type="submit" class="btn btn-outline-success btn-block">Create account</button>
</div>
</form>
</main>

