<h1>Create an account</h1>

<form action="/signup" method="POST">

  <label for="">First name:</label>
  <input type="text" name="firstName" >

  <label for="">Last name:</label>
  <input type="text" name="lastName" >

  <label for="">Email:</label>
  <input type="text" name="email" id="" >

  <label for="">Password:</label>
  <input type="password" name="password" id="" >
  
  <button type="submit">Create account</button>
</form>

{{> flashMessage}}
