/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  background-color: grey;
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
}

main {
  margin: 5%;
  padding: 10% auto 10% auto;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif; }

a {
  color: #00b7ff;
  text-decoration: none;
  font-size: 1.5em; }

form {
  margin: 30px auto 10% auto;
  width: 450px; }

form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

form input {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

// form button {
//   background: #2495e6;
//   border: 1px solid #001926;
//   border-radius: 4px;
//   color: #fff;
//   cursor: pointer;
//   display: inline-block;
//   font-size: 14px;
//   padding: 8px 16px;
//   text-decoration: none;
//   text-transform: uppercase;
//   transition: 0.3s ease background;
//   width: 100%; }

// form button:hover {
//   background: #fff;
//   color: #2495e6;
//   transition: 0.3s ease background; }

.error {
  background: #d35704;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%; }

li {
  line-height: 20px;
  list-style-type: none;
  font-size: 4px;
}

#to-right {
  padding: 1em;
  float: right; }

#to-right span {
  color: #2495e6;
  font-size: 1.5em; }

#form h2 {
  display: flex;
  justify-content: center; }

#to-left {
  float: left; }

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 2em; }

#map {
  width:100%;
  height:100%;
  position: absolute;
  top: 0px;
  left: 0px;}


 //////////////////Slider-Range///////////////////@at-root
 input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: linear-gradient(90deg, rgba(165,230,10,1) 0%, rgba(102,200,0,1) 100%);;
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(165,230,10,1) 0%, rgba(102,200,0,1) 100%);
  box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, rgba(165,230,10,1) 0%, rgba(102,200,0,1) 100%);;
}
.range-wrap{
  width: auto;
  position: relative;
}
.range-value{
  position: absolute;
  top: -50%;
}
.range-value span{
  width: 30px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: linear-gradient(90deg, rgba(165,230,10,1) 0%, rgba(102,200,0,1) 100%);
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}
.range-value span:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid linear-gradient(90deg, rgba(165,230,10,1) 0%, rgba(102,200,0,1) 100%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}